{'dataset': {'include': ['Tags'], 'aggregation': {'totalCost': {'function': 'Sum', 'name': 'PreTaxCost'}, 'totalUsage': {'function': 'Sum', 'name': 'UsageQuantity'}}, 'filter': {'tags': {'name': 'clustername', 'values': {{clusters}} , 'operator': 'In'}}, 'granularity': 'None', 'grouping': [{'name': 'ResourceLocation', 'type': 'Dimension'}, {'name': 'ResourceGuid', 'type': 'Dimension'}, {'name': 'Meter', 'type': 'Dimension'}, {'name': 'MeterCategory', 'type': 'Dimension'}, {'name': 'MeterSubCategory', 'type': 'Dimension'}, {'name': 'ResourceGroupName', 'type': 'Dimension'}]}, 'timePeriod': {'from': '{{start_time}}', 'to': '{{end_time}}'}, 'timeframe': 'Custom', 'type': 'ActualCost'}
